<h1>Liste de courses</h1>
<form class="listForm">
  <mat-form-field class="item">
    <input matInput type="text" [(ngModel)]="item" name="item" placeholder="Item à ajouter">
  </mat-form-field>
  <mat-form-field class="price">
    <input matInput type="number" [(ngModel)]="price" name="price" placeholder="Prix en euros" step="any">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="addItem()" [disabled]="!item">Envoyer</button>
  </div>
</form>
<table>
  <thead>
    <tr>
      <th colspan="3"> Liste de courses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="itemTable">Item</th>
      <th class="priceTable">Prix</th>
      <th class="deleteTable">Suppression</th>
    </tr>
    <tr *ngFor="let list of itemArray; let i = index" [attr.data-index]="i">
      <td>{{list.item}}</td>
      <td>{{list.price}}</td>
      <td><button mat-raised-button color="danger" (click)="deleteItem(i)">Supprimer</button></td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="3">Prix total = {{items.priceTotal}} €</th>
  </tfoot>
</table>
<form class="mailBlock">
  <mat-form-field>
    <input matInput placeholder="Votre adresse Mail" type="text" [(ngModel)]="mailInput" name="mailInput">
  </mat-form-field>
  <div>
    <button mat-raised-button (click)=sendMail()> Envoyer par mail </button>
  </div>

</form>

